@charset "UTF-8";
/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1 1 auto;
}

div[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 246px;
  height: 44px;
  border-radius: 22px;
  padding: 15px 30px;
  background: linear-gradient(#28aae4, #1e8aba);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  transition: all 0.3s ease;
}
.button:hover {
  opacity: 0.8;
}

._bgi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.text-1 {
  padding-left: 17px;
  position: relative;
  color: #fff;
  line-height: 1.35;
  font-weight: 700;
  max-width: 310px;
}
.text-1 span {
  text-decoration: underline;
}
.text-1::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 80%;
  width: 2px;
  background-color: #fff;
}

.title {
  font-family: "Play", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 8px;
}
.title span {
  color: #28aae4;
}

.title-2 {
  font-weight: 600;
  color: #28aae4;
  padding-top: 25px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
.title-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 80%;
  background-color: #28aae4;
}

/*-------------------------------------------------------------------------------------------
------------------------------------------AREA-----------------------------------------------
-------------------------------------------------------------------------------------------*/
.area {
  padding: 35px 0;
}
.area__title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 7px;
  text-transform: uppercase;
  margin-bottom: 62px;
}
.area__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 77px;
  background-color: #28aae4;
}
.area__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 14px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .area__items {
    gap: 60px 32px;
  }
}
@media (max-width: 483px) {
  .area__items {
    gap: 32px;
  }
}
@media (max-width: 450px) {
  .area__items {
    grid-template-columns: 1fr;
  }
}
.area__button {
  margin: auto;
}

.lake-area {
  position: relative;
  min-height: 350px;
  padding: 36px 38px;
  margin-bottom: 50px;
}
@media (max-width: 758px) {
  .lake-area {
    min-height: 258px;
    padding: 14px 18px;
  }
}

.item-area {
  display: flex;
  gap: 15px;
}
@media (max-width: 992px) {
  .item-area {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .item-area:nth-child(4n-1), .item-area:nth-child(5n-1) {
    flex-direction: row-reverse;
  }
}
.item-area:nth-child(3n-2) .item-area__text {
  font-weight: 600;
}
.item-area:nth-child(4n-3) .item-area__image-icon {
  top: 20px;
  right: 20px;
}
.item-area:nth-child(4n-2) .item-area__image-icon {
  bottom: 20px;
  left: 20px;
}
.item-area:nth-child(4n-1) .item-area__image-icon {
  bottom: 20px;
  right: 20px;
}
.item-area:nth-child(4n) .item-area__image-icon {
  top: 20px;
  left: 20px;
}
.item-area__image {
  flex: 1 1 50%;
  position: relative;
  min-height: 280px;
  padding: 20px;
  position: relative;
  line-height: 1;
}
@media (max-width: 992px) {
  .item-area__image {
    min-height: 0;
    padding-bottom: 180px;
    max-height: 200px;
    width: 200px;
  }
}
@media (max-width: 450px) {
  .item-area__image {
    width: 100%;
  }
}
.item-area__image-icon {
  position: absolute;
}
.item-area__text {
  flex: 1 1 50%;
  position: relative;
  padding: 15px;
}
@media (max-width: 992px) {
  .item-area__text {
    padding: 15px 0;
  }
}
.item-area__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 35%;
  height: 2px;
  background-color: #28aae4;
}
@media (max-width: 992px) {
  .item-area__text::before {
    width: 30%;
    left: 0;
  }
}
@media (max-width: 483px) {
  .item-area__text::before {
    width: 40%;
  }
}
@media (max-width: 450px) {
  .item-area__text::before {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*-------------------------------------------------------------------------------------------
-------------------------------------------POND----------------------------------------------
-------------------------------------------------------------------------------------------*/
.pond {
  background-color: #f4f4f4;
  padding: 87px 0px 109px;
}
@media (max-width: 992px) {
  .pond {
    padding: 60px 0;
  }
}
@media (max-width: 758px) {
  .pond {
    padding: 40px 0;
  }
}
.pond__header {
  display: flex;
  gap: 47px;
}
@media (max-width: 758px) {
  .pond__header {
    gap: 24px;
  }
}
.pond__info {
  flex: 1 1 50%;
  position: relative;
  padding: 36px 38px;
  min-height: 350px;
  z-index: 2;
}
@media (max-width: 758px) {
  .pond__info {
    flex: 1 1 auto;
  }
}
.pond__title {
  margin-bottom: 8px;
}
.pond__link {
  position: absolute;
  right: 45px;
  top: -22px;
  color: #28aae4;
  font-style: italic;
  font-size: 14px;
}
.pond__link:hover {
  text-decoration: underline;
}
@media (max-width: 758px) {
  .pond__link {
    top: 36px;
  }
}
@media (max-width: 550px) {
  .pond__link {
    top: auto;
    bottom: -25px;
    right: 0;
  }
}
.pond__contacts {
  flex: 0 1 50%;
  font-family: "Open Sans", sans-serif;
  line-height: 130%;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
@media (max-width: 758px) {
  .pond__contacts {
    flex: 0 0 251px;
  }
}
@media (max-width: 500px) {
  .pond__contacts {
    margin-top: 30px;
  }
}
.pond__bottom {
  margin-left: 85px;
  position: relative;
  z-index: 1;
  margin-top: -200px;
}
@media (max-width: 758px) {
  .pond__bottom {
    margin-left: 45px;
  }
}
@media (max-width: 550px) {
  .pond__bottom {
    margin-top: -10px;
    margin-left: 20px;
  }
}
.pond__list {
  display: grid;
  gap: 35px;
  padding: 38px;
  border: 6px #28aae4 solid;
  counter-reset: main;
}
@media (max-width: 550px) {
  .pond__list {
    gap: 10px;
    padding: 10px;
  }
}
.pond__item {
  position: relative;
  padding-left: 67px;
}
@media (max-width: 450px) {
  .pond__item {
    padding-left: 40px;
  }
}
@media (max-width: 550px) {
  .pond__item:nth-child(1), .pond__item:nth-child(2) {
    display: none;
  }
}
.pond__item:not(:nth-child(1), :nth-child(2))::before {
  content: counter(main);
  counter-increment: main;
  position: absolute;
  top: 50%;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 74px;
  font-weight: 600;
  color: #dbdbdb;
  transform: translateY(-50%);
}
@media (max-width: 450px) {
  .pond__item:not(:nth-child(1), :nth-child(2))::before {
    font-size: 50px;
  }
}
.pond__footer {
  margin-top: 15px;
}

.item-pond__title {
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .item-pond__title {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .item-pond__text {
    font-size: 12px;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------CARIER----------------------------------------------
-------------------------------------------------------------------------------------------*/
.carier {
  padding: 90px 0 130px;
  height: 740px;
}
@media (max-width: 758px) {
  .carier {
    padding: 90px 0;
    height: 1025px;
  }
}
@media (max-width: 483px) {
  .carier {
    height: 1160px;
    padding: 50px 0 150px;
  }
}
.carier__container {
  position: relative;
  height: 100%;
}
.carier__container > div {
  position: absolute;
}
.carier__text {
  color: #000;
  max-width: 378px;
  width: 40%;
}
.carier__text::before {
  background-color: #000;
  height: 100%;
}
@media (max-width: 758px) {
  .carier__text {
    right: 15px;
    width: 31%;
  }
}
@media (max-width: 700px) {
  .carier__text {
    width: 45%;
  }
}
@media (max-width: 483px) {
  .carier__text {
    top: 0;
    right: auto;
    left: 15px;
    width: calc(100% - 15px);
  }
}
.carier__title {
  color: #000;
}
.carier__image-1 {
  height: 350px;
  width: 55%;
  right: 15px;
  top: 0;
}
@media (max-width: 758px) {
  .carier__image-1 {
    height: 486px;
    top: 240px;
    width: 61%;
    z-index: 2;
  }
  .carier__image-1::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 110%;
    height: 110%;
    background-color: #fff;
    z-index: -1;
  }
}
@media (max-width: 758px) and (max-width: 483px) {
  .carier__image-1::before {
    top: -14px;
    left: -14px;
  }
}
@media (max-width: 483px) {
  .carier__image-1 {
    top: 370px;
    height: 263px;
    width: 70%;
  }
}
.carier__image-2 {
  top: 150px;
  left: 15px;
  height: 293px;
  width: 50%;
}
.carier__image-2::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 110%;
  height: 110%;
  background-color: #fff;
  z-index: -1;
}
@media (max-width: 758px) {
  .carier__image-2 {
    left: 15px;
    top: 0;
    width: 60%;
    height: 293px;
  }
  .carier__image-2::before {
    display: none;
  }
}
@media (max-width: 700px) {
  .carier__image-2 {
    width: 45%;
  }
}
@media (max-width: 483px) {
  .carier__image-2 {
    top: 150px;
    right: 15px;
    height: 279px;
    width: calc(100% - 30px);
  }
}
.carier__image-3 {
  top: 330px;
  right: 15px;
  height: 198px;
  width: 25%;
}
.carier__image-3::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 110%;
  height: 110%;
  background-color: #fff;
  z-index: -1;
}
@media (max-width: 758px) {
  .carier__image-3 {
    left: 15px;
    top: 430px;
    height: 198px;
    width: 43%;
    z-index: 2;
  }
  .carier__image-3::before {
    left: auto;
    right: -20px;
  }
}
@media (max-width: 483px) {
  .carier__image-3 {
    height: 198px;
    width: 65%;
    top: 540px;
  }
  .carier__image-3::before {
    top: -14px;
    left: auto;
    right: -14px;
  }
}
.carier__location {
  font-style: italic;
  font-size: 14px;
  color: #28aae4;
  padding-bottom: 19px;
  border-bottom: 2px #28aae4 solid;
  left: calc(50% + 40px);
  top: 400px;
  width: 17%;
}
@media (max-width: 758px) {
  .carier__location {
    left: 15px;
    top: 670px;
    width: 28%;
  }
}
@media (max-width: 483px) {
  .carier__location {
    top: 770px;
    width: 50%;
  }
}
.carier__info {
  bottom: 0;
  left: 15px;
  width: 60%;
  height: 10%;
}
@media (max-width: 758px) {
  .carier__info {
    width: calc(90% - 15px);
  }
}

/*-------------------------------------------------------------------------------------------
------------------------------------------BEACH----------------------------------------------
-------------------------------------------------------------------------------------------*/
.beach {
  padding: 100px 0;
}
.beach__container {
  display: flex;
  gap: 28px;
}
@media (max-width: 758px) {
  .beach__container {
    flex-direction: column;
  }
}
.beach__item-1 {
  flex: 1 1 auto;
}
.beach__item-2 {
  flex: 0 0 381px;
}
.block-1-beach {
  padding: 36px 38px;
  position: relative;
  margin-bottom: 30px;
  width: 113%;
  min-height: 447px;
}
@media (max-width: 758px) {
  .block-1-beach {
    padding: 13px 24px;
  }
}
.block-1-beach__title {
  margin-bottom: 8px;
}
.block-1-beach__text {
  max-width: 378px;
}
.block-1-beach picture {
  display: block;
}

.block-2-beach {
  position: relative;
  min-height: 389px;
  margin-bottom: 90px;
}
.block-2-beach__content {
  width: 290px;
  padding-right: 23px;
  padding-bottom: 36px;
  background-color: #fff;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  z-index: 2;
}
@media (max-width: 758px) {
  .block-2-beach__content {
    flex: 0 0 257px;
  }
}
.block-2-beach__title {
  margin-bottom: 10px;
}
.block-2-beach__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 93%;
  height: 100%;
}
@media (max-width: 758px) {
  .block-2-beach__image {
    position: relative;
    height: 290px;
    flex: 1 1 auto;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fff;
    z-index: 2;
    margin-top: -60px;
  }
  .block-2-beach__image img {
    padding-left: 20px;
    padding-top: 20px;
  }
}
@media (max-width: 483px) {
  .block-2-beach__image {
    display: none;
  }
}
@media (max-width: 758px) {
  .block-2-beach {
    display: flex;
    min-height: 0;
    margin-bottom: 20px;
  }
}

.block-5-beach {
  margin-bottom: 33px;
}
.block-5-beach__title {
  margin-bottom: 10px;
}
@media (max-width: 758px) {
  .block-5-beach {
    display: none;
  }
}
@media (max-width: 483px) {
  .block-5-beach {
    display: block;
  }
}

.block-3-beach {
  width: 73%;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 483px) {
  .block-3-beach {
    flex-direction: column;
  }
}
.block-3-beach__content {
  flex: 0 0 243px;
}
.block-3-beach__text {
  padding-bottom: 30px;
}
.block-3-beach__image {
  position: relative;
}
@media (max-width: 758px) {
  .block-3-beach__image {
    flex: 1 1 auto;
    height: 348px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #fff;
    margin-top: -100px;
  }
  .block-3-beach__image img,
  .block-3-beach__image picture {
    padding-right: 20px;
    padding-top: 20px;
    z-index: 1;
  }
}
@media (max-width: 758px) {
  .block-3-beach {
    margin-left: 0;
    width: 100%;
  }
}

.block-6-beach {
  width: 100%;
  height: 256px;
  position: relative;
  padding-left: 29px;
  padding-top: 29px;
  background-color: #fff;
  z-index: 1;
  margin-bottom: 40px;
}
@media (max-width: 758px) {
  .block-6-beach {
    display: none;
  }
}
@media (max-width: 483px) {
  .block-6-beach {
    display: block;
  }
}
.block-6-beach img {
  padding-left: 29px;
  padding-top: 29px;
}

.block-4-beach {
  background-color: #fff;
  padding-top: 29px;
  padding-left: 29px;
}
@media (max-width: 758px) {
  .block-4-beach {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 35px;
  }
}
.block-4-beach__title {
  margin-bottom: 10px;
}
.block-4-beach p:not(:last-child) {
  margin-bottom: 23px;
}
.block-4-beach b {
  font-weight: 700;
}
.block-4-beach i {
  font-weight: 600;
  font-style: italic;
}
.block-4-beach a {
  color: #28aae4;
  font-weight: 600;
}
.block-4-beach a:hover {
  text-decoration: underline;
}