/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/

$xxl: 1122px;
$xl: 1200px;
$lg: 992px;
$md: 758px;
$sm: 483px;

$ff1: "Open Sans", sans-serif;
$ff2: "Play", sans-serif;

/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  font-family: $ff1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1 1 auto;
}

div[class*="__container"] {
  max-width: $xl + 30px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 246px;
  height: 44px;
  border-radius: 22px;
  padding: 15px 30px;
  background: linear-gradient(#28aae4, #1e8aba);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  max-width: fit-content;
  text-align: center;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

._bgi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.text-1 {
  padding-left: 17px;
  position: relative;
  color: #fff;
  line-height: 1.35;
  font-weight: 700;
  span {
    text-decoration: underline;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 90%;
    width: 2px;
    background-color: #fff;
  }
  max-width: 310px;
}

.title {
  font-family: $ff2;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 8px;
  span {
    color: #28aae4;
  }
}

.title-2 {
  font-weight: 600;
  color: #28aae4;
  padding-top: 25px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 80%;
    background-color: #28aae4;
  }
}

/*-------------------------------------------------------------------------------------------
------------------------------------------AREA-----------------------------------------------
-------------------------------------------------------------------------------------------*/

.area {
  padding: 35px 0;
  &__container {
  }
  &__title {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    font-family: $ff2;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    padding-bottom: 7px;
    text-transform: uppercase;
    margin-bottom: 62px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 77px;
      background-color: #28aae4;
    }
  }

  &__lake {
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 14px;
    margin-bottom: 30px;
    @media (max-width: $lg) {
      gap: 60px 32px;
    }
    @media (max-width: $sm) {
      gap: 32px;
    }
    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }

  &__button {
    margin: auto;
  }
}
.lake-area {
  position: relative;
  min-height: 350px;
  padding: 36px 38px;
  margin-bottom: 50px;
  @media (max-width: $md) {
    min-height: 258px;
    padding: 14px 18px;
  }
}
.item-area {
  display: flex;
  gap: 15px;
  @media (max-width: $lg) {
    flex-direction: column;
  }
  @media (min-width: $lg) {
    &:nth-child(4n - 1),
    &:nth-child(5n - 1) {
      flex-direction: row-reverse;
    }
  }
  &:nth-child(3n - 2) {
    .item-area__text {
      font-weight: 600;
    }
  }

  &:nth-child(4n - 3) {
    .item-area__image-icon {
      top: 20px;
      right: 20px;
    }
  }
  &:nth-child(4n - 2) {
    .item-area__image-icon {
      bottom: 20px;
      left: 20px;
    }
  }
  &:nth-child(4n - 1) {
    .item-area__image-icon {
      bottom: 20px;
      right: 20px;
    }
  }
  &:nth-child(4n) {
    .item-area__image-icon {
      top: 20px;
      left: 20px;
    }
  }
  &__image {
    flex: 1 1 50%;
    position: relative;
    min-height: 280px;
    padding: 20px;
    position: relative;
    line-height: 1;
    @media (max-width: $lg) {
      min-height: 0;
      padding-bottom: 180px;
      max-height: 200px;
      width: 200px;
    }
    @media (max-width: 450px) {
      width: 100%;
    }
  }
  &__image-bg {
  }

  &__image-icon {
    position: absolute;
  }

  &__text {
    flex: 1 1 50%;
    position: relative;
    padding: 15px;
    @media (max-width: $lg) {
      padding: 15px 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 15px;
      width: 35%;
      height: 2px;
      background-color: #28aae4;
      @media (max-width: $lg) {
        width: 30%;
        left: 0;
      }
      @media (max-width: $sm) {
        width: 40%;
      }
      @media (max-width: 450px) {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------
-------------------------------------------POND----------------------------------------------
-------------------------------------------------------------------------------------------*/

.pond {
  background-color: #f4f4f4;
  padding: 87px 0px 109px;
  @media (max-width: $lg) {
    padding: 60px 0;
  }
  @media (max-width: $md) {
    padding: 40px 0;
  }
  &__container {
  }
  &__header {
    display: flex;
    gap: 47px;
    @media (max-width: $md) {
      gap: 24px;
    }
  }

  &__info {
    flex: 1 1 50%;
    position: relative;
    padding: 36px 38px;
    min-height: 350px;
    z-index: 2;
    @media (max-width: $md) {
      flex: 1 1 auto;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
  }

  &__link {
    position: absolute;
    right: 45px;
    top: -22px;
    color: #28aae4;
    font-style: italic;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: $md) {
      top: 36px;
    }
    @media (max-width: 550px) {
      top: auto;
      bottom: -25px;
      right: 0;
    }
    @media (max-width: 500px) {
    }
  }

  &__contacts {
    flex: 0 1 50%;
    font-family: $ff1;
    line-height: 130%;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    @media (max-width: $md) {
      flex: 0 0 251px;
    }
    @media (max-width: 500px) {
      margin-top: 30px;
    }
  }

  &__bottom {
    margin-left: 85px;
    position: relative;
    z-index: 1;
    margin-top: -200px;
    @media (max-width: $md) {
      margin-left: 45px;
    }
    @media (max-width: 550px) {
      margin-top: -10px;
      margin-left: 20px;
    }
  }

  &__list {
    display: grid;

    gap: 35px;

    padding: 38px;
    border: 6px #28aae4 solid;
    counter-reset: main;
    @media (max-width: 550px) {
      gap: 10px;
      padding: 10px;
    }
  }

  &__item {
    position: relative;
    padding-left: 67px;
    @media (max-width: 450px) {
      padding-left: 40px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      @media (max-width: 550px) {
        display: none;
      }
    }
    &:not(:nth-child(1), :nth-child(2)) {
      &::before {
        content: counter(main);
        counter-increment: main;
        position: absolute;
        top: 50%;
        left: 0;
        font-family: $ff1;
        font-size: 74px;
        font-weight: 600;
        color: #dbdbdb;
        transform: translateY(-50%);
        @media (max-width: 450px) {
          font-size: 50px;
        }
      }
    }
  }
  &__footer {
    margin-top: 15px;
  }
}
.item-pond {
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: 450px) {
      font-size: 12px;
    }
  }

  &__text {
    @media (max-width: 450px) {
      font-size: 12px;
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------CARIER----------------------------------------------
-------------------------------------------------------------------------------------------*/

.carier {
  padding: 90px 0 130px;
  height: 740px;
  @media (max-width: $md) {
    padding: 90px 0;
    height: 1025px;
  }
  @media (max-width: $sm) {
    height: 1160px;
    padding: 50px 0 150px;
  }

  &__container {
    position: relative;
    height: 100%;
    & > div {
      position: absolute;
    }
  }

  &__text {
    color: #000;
    max-width: 378px;
    width: 40%;
    &::before {
      background-color: #000;
      height: 100%;
    }
    @media (max-width: $md) {
      right: 15px;
      width: 31%;
    }
    @media (max-width: 700px) {
      width: 45%;
    }
    @media (max-width: $sm) {
      top: 0;
      right: auto;
      left: 15px;
      width: calc(100% - 15px);
    }
  }

  &__title {
    color: #000;
  }

  &__image-1 {
    height: 350px;
    width: 55%;
    right: 15px;
    top: 0;
    @media (max-width: $md) {
      height: 486px;
      top: 240px;
      width: 61%;
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: -20px;
        width: 110%;
        height: 110%;
        background-color: #fff;
        z-index: -1;
        @media (max-width: $sm) {
          top: -14px;
          left: -14px;
        }
      }
    }
    @media (max-width: $sm) {
      top: 370px;
      height: 263px;
      width: 70%;
    }
  }

  &__image-2 {
    top: 150px;
    left: 15px;
    height: 293px;
    width: 50%;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: -20px;
      width: 110%;
      height: 110%;
      background-color: #fff;
      z-index: -1;
    }
    @media (max-width: $md) {
      left: 15px;
      top: 0;
      width: 60%;
      height: 293px;
      &::before {
        display: none;
      }
    }
    @media (max-width: 700px) {
      width: 45%;
    }
    @media (max-width: $sm) {
      top: 150px;
      right: 15px;
      height: 279px;
      width: calc(100% - 30px);
    }
  }

  &__image-3 {
    top: 330px;
    right: 15px;
    height: 198px;
    width: 25%;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      width: 110%;
      height: 110%;
      background-color: #fff;
      z-index: -1;
    }
    @media (max-width: $md) {
      left: 15px;
      top: 430px;
      height: 198px;
      width: 43%;
      z-index: 2;
      &::before {
        left: auto;
        right: -20px;
      }
    }
    @media (max-width: $sm) {
      height: 198px;
      width: 65%;
      top: 540px;
      &::before {
        top: -14px;
        left: auto;
        right: -14px;
      }
    }
  }

  &__location {
    font-style: italic;
    font-size: 14px;
    color: #28aae4;
    padding-bottom: 19px;
    border-bottom: 2px #28aae4 solid;
    left: calc(50% + 40px);
    top: 400px;
    width: 17%;
    @media (max-width: $md) {
      left: 15px;
      top: 670px;
      width: 28%;
    }
    @media (max-width: $sm) {
      top: 770px;
      width: 50%;
    }
  }

  &__info {
    bottom: 0;
    left: 15px;
    width: 60%;
    height: 10%;
    @media (max-width: $md) {
      width: calc(90% - 15px);
    }
  }
}

/*-------------------------------------------------------------------------------------------
------------------------------------------BEACH----------------------------------------------
-------------------------------------------------------------------------------------------*/

.beach {
  padding: 100px 0;
  background-color: #f4f4f4;
  position: relative;
  z-index: 0;
  @media (max-width: $md) {
    padding: 60px 0;
  }

  &__container {
    display: flex;
    gap: 28px;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__item-1 {
    flex: 1 1 auto;
  }

  &__block-1 {
  }

  &__block-2 {
  }

  &__block-5 {
  }

  &__button {
  }

  &__item-2 {
    flex: 0 0 381px;
  }

  &__block-3 {
  }

  &__block-6 {
  }

  &__block-4 {
  }
}
.block-1-beach {
  padding: 36px 38px;
  position: relative;
  margin-bottom: 30px;
  width: 113%;
  min-height: 447px;
  @media (max-width: $md) {
    padding: 13px 24px;
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 8px;
  }

  &__text {
    max-width: 378px;
  }
  picture {
    display: block;
  }
}

.block-2-beach {
  position: relative;
  min-height: 389px;
  margin-bottom: 90px;

  &__content {
    width: 290px;
    padding-right: 23px;
    padding-bottom: 36px;
    background-color: #f4f4f4;
    max-height: fit-content;
    position: relative;
    z-index: 2;
    @media (max-width: $md) {
      flex: 0 0 257px;
    }
    @media (max-width: $sm) {
      flex: 1 1 auto;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;

    @media (max-width: $md) {
      position: relative;
      height: 290px;
      flex: 1 1 auto;
      padding-left: 20px;
      padding-top: 20px;
      z-index: 2;
      margin-top: -60px;
      img {
        padding-left: 20px;
        padding-top: 20px;
      }
    }
    @media (max-width: $sm) {
      display: none;
    }
  }
  @media (max-width: $md) {
    display: flex;
    min-height: 0;
    margin-bottom: 20px;
  }
}

.block-5-beach {
  margin-bottom: 33px;
  &__title {
    margin-bottom: 10px;
  }

  &__text {
  }
  @media (max-width: $md) {
    display: none;
  }
  @media (max-width: $sm) {
    display: block;
  }
}

.block-3-beach {
  width: 73%;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: $sm) {
    flex-direction: column;
  }
  @media (max-width: $sm) {
    flex: 0 1 60%;
  }
  &__content {
    flex: 0 0 243px;
    @media (max-width: $sm) {
      flex: 1 1 auto;
      max-width: 60%;
    }
  }
  &__title {
  }

  &__text {
    padding-bottom: 30px;
  }
  &__image {
    position: relative;

    @media (max-width: $md) {
      flex: 1 1 auto;
      height: 348px;
      padding-top: 20px;
      padding-right: 20px;
      background-color: #fff;
      margin-top: -100px;

      img,
      picture {
        padding-right: 20px;
        padding-top: 20px;
        z-index: 1;
        @media (max-width: $sm) {
          padding-right: 0;
          padding-top: 0;
        }
      }
    }
    @media (max-width: $sm) {
      margin-top: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }
  @media (max-width: $md) {
    margin-left: 0;
    width: 100%;
  }
}
.block-6-beach {
  width: 100%;
  height: 256px;
  position: relative;
  padding-left: 29px;
  padding-top: 29px;
  background-color: #f4f4f4;
  z-index: 1;
  margin-bottom: 40px;
  @media (max-width: $md) {
    display: none;
  }
  @media (max-width: $sm) {
    display: block;
    width: 90%;
    padding-right: 20px;
    padding-top: 200px;
    padding-left: 0;
    margin-top: -40px;
    margin-bottom: 20px;
  }
  img {
    padding-left: 29px;
    padding-top: 29px;
    @media (max-width: $sm) {
      padding-left: 0;
      padding-right: 20px;
      padding-top: 20px;
    }
  }
}
.block-4-beach {
  background-color: #fff;
  padding-top: 29px;
  padding-left: 29px;
  background-color: #f4f4f4;

  @media (max-width: $md) {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 35px;
  }
  &__text {
  }
  &__title {
    margin-bottom: 10px;
  }
  p:not(:last-child) {
    margin-bottom: 23px;
  }
  b {
    font-weight: 700;
  }
  i {
    font-weight: 600;
    font-style: italic;
  }
  a {
    color: #28aae4;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}

/*-------------------------------------------------------------------------------------------
-------------------------------------------HOUSE---------------------------------------------
-------------------------------------------------------------------------------------------*/

.house {
  padding: 80px 0;
  @media (max-width: $md) {
    padding: 60px 0;
  }

  &__container {
  }

  &__item-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__item-2 {
    display: flex;
    align-items: end;
  }
}
.item-1-house {
  &__info {
    height: 436px;
    flex: 0 1 63%;
    padding: 35px;
    position: relative;
    @media (max-width: $md) {
      flex: 1 1 auto;
      order: 2;
    }
  }

  &__info-text {
    font-weight: 600;
    color: #fff;
    max-width: 376px;
  }

  &__description {
    flex: 0 1 37%;
    padding-bottom: 300px;
    @media (max-width: $md) {
      flex: 1 1 auto;
      order: 1;
      margin-left: auto;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
  }

  &__text {
    color: #000;
    max-width: 376px;
    margin-left: 30px;
    &::before {
      height: 100%;
      background-color: #000;
    }
  }

  &__title {
    color: #000;
  }

  &__image {
    flex: 0 1 500px;
    height: 350px;
    position: relative;
    margin-top: -320px;
    padding-left: 24px;
    padding-top: 24px;
    background-color: #fff;
    z-index: 0;
    img {
      padding-left: 24px;
      padding-top: 24px;
    }
    @media (max-width: $md) {
      flex: 1 1 auto;
      order: 3;
      margin-top: 0;
      width: 55%;
      height: 330px;
      margin-left: auto;
      margin-top: -111px;
    }
    @media (max-width: $sm) {
      width: 90%;
    }
  }
}

.item-2-house {
  margin-top: 47px;
  @media (max-width: $md) {
    flex-direction: column;
  }
  @media (max-width: $sm) {
    margin-top: 26px;
  }
  &__description {
    position: relative;
    z-index: 1;
    flex: 0 1 28%;
    background-color: #fff;
    @media (max-width: $md) {
      flex: 1 1 auto;
      margin-right: auto;
      margin-top: -240px;
      padding: 10px;
    }
    @media (max-width: $sm) {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
    max-width: 319px;
    @media (max-width: $md) {
      max-width: 310px;
    }
  }

  &__text {
    line-height: 200%;
    max-width: 319px;
    @media (max-width: $md) {
      max-width: 310px;
    }
  }
  &__text-2 {
    position: relative;
    z-index: 1;
    flex: 0 1 47%;
    margin-left: auto;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    @media (max-width: $md) {
      flex: 1 1 auto;
      margin-left: auto;
      width: 73%;
      margin-top: -40px;
    }
    @media (max-width: $sm) {
      width: 90%;
    }
  }

  &__image {
    height: 400px;
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 0;
    img {
      padding: 27px 27px 0 27px;
      @media (max-width: $md) {
        padding: 0;
      }
    }
    @media (max-width: $md) {
      position: relative;
      height: 375px;
      left: 0;
      width: 80%;
      transform: none;
      margin-right: auto;
      margin-top: -50px;
    }
    @media (max-width: $sm) {
      width: 100%;
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------EMBANKMENT------------------------------------------
-------------------------------------------------------------------------------------------*/

.embankment {
  padding: 100px 0;
  @media (max-width: $md) {
    padding: 60px 0;
  }
  &__container {
  }

  &__header {
    width: 100%;
    min-height: 350px;
    position: relative;
    display: flex;
    justify-content: end;
    padding: 36px 30px;
  }

  &__inner {
  }
}
.header-embankment {
  display: flex;
  justify-content: flex-end;
  @media (max-width: $md) {
    justify-content: center;
  }
  @media (max-width: $sm) {
    justify-content: flex-start;
  }
  &__content {
    flex: 0 0 330px;

    @media (max-width: $sm) {
      flex: 1 1 auto;
    }
  }
  &__tittle {
  }

  &__text {
    max-width: 100%;
  }
}

.inner-embankment {
  position: relative;
  &__content {
    display: flex;
    @media (max-width: $md) {
      display: block;
    }
    &:nth-child(1) {
      .inner-embankment__text {
        padding-top: 25px;
      }
    }
    &:nth-child(2) {
      .inner-embankment__text {
      }
      @media (max-width: $sm) {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  &__images {
  }
  &__image-1 {
    flex: 0 0 50%;

    position: relative;
    z-index: 0;
    background-color: #fff;
    margin-left: 10%;
    margin-top: -5%;
    img {
      padding: 22px;
    }
    @media (max-width: $md) {
      float: left;
      width: 60%;
      margin-left: 0;
    }
    @media (max-width: $sm) {
      width: 70%;
      img {
        padding-left: 0;
        padding-bottom: 10px;
      }
    }
    @media (max-width: 400px) {
      width: 100%;
      img {
        padding: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
      }
    }
  }

  &__image-2 {
    position: absolute;
    flex: 0 0 52%;
    height: 381px;
    position: relative;
    z-index: 0;
    background-color: #fff;
    margin-top: -10%;
    img {
      padding: 22px;
    }
    @media (max-width: $md) {
      margin-top: 0;
      float: left;
      width: 52%;
      height: auto;
    }
    @media (max-width: $sm) {
      width: 100%;
      margin-top: 27px;
      img {
        padding: 0;
      }
    }
  }

  &__text {
  }
}
